body{
    display: grid;
    height: 97vh;
    grid-template-rows: 10rem auto 5rem;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header{
    grid-area: header;
}

img
{
    width: auto;
    height: 100px;
}
main
{
    grid-area: main;
    width: 100%;
    display: flex;
    text-align: center;
}

.enlaces{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30rem;
}

a{
    border-width: 1px;
    border-radius: 3px;
    border-color: grey;
    background-color: rgb(229, 229, 229);
	color: #080808;
    text-decoration: none;
    padding: 0.25rem;
    margin: 0.5rem;
}

a:visited{
	color: rgb(0, 247, 111);	
}

a:hover{
	color:rgb(0, 241, 204);
    transition-duration: 0.5s;
    background-color: rgb(149, 149, 149);
}

a:not(hover){
    transition-duration: 0.5s;
}

td{
    text-justify: center;
}

footer{
    grid-area: footer;
	clear: both;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	background: linear-gradient(rgb(0, 241, 204), rgb(0, 247, 111));
}